body {
    width: 1024px;
    margin: auto;
    background-color: rgb(192, 192, 192);
}

#grid_container {
    display: grid;
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 1024;
    height: auto;
    background-color: rgb(255, 255, 255);
    padding: 40px;
    row-gap: 40px;
    column-gap: 30px;
    grid-template-rows: repeat(4, 200px);
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas: 
    "a a a a a b b b b b"
    "c c d d e e e e f f"
    "g g g g e e e e h h"
    "i i j j k k k k k k";
}

.item {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 3em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#item1 {
    background-color: white;
    grid-area: a;
}

#item2 {
    grid-area: b;
    background: url(./../assets/lemon-butterflyfish-380037_1280.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
}

#item3 {
    grid-area: c;
    background: url(./../assets/beach-5234306_1920.jpg) no-repeat;
    background-size: cover;
}

#item4 {
   grid-area: d;
   background: url(./../assets/road-6597404_1920.jpg) no-repeat;
    background-size: cover;
}

#item5 {
    grid-area: e;
    background: url(./../assets/flowers-276014_1280.jpg) no-repeat;
    background-size: cover;
}

#item6 {
    grid-area: f;
    background: url(./../assets/magnolia-2218788_1280.jpg) no-repeat;
    background-size: cover;
}

#item7 {
    grid-area: g;
    background: url(./../assets/rainbow-5372890_1920.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

#item8 {
    grid-area: h;
    background: url(./../assets/milky-way-6496937_1920.jpg) no-repeat;
    background-size: cover;
}

#item9 {
    grid-area: i;
    background: url(./../assets/red-panda-1852860_1920.jpg) no-repeat;
    background-size: cover;
}

#item10 {
    grid-area: j;
    background: url(./../assets/water-3271579_1920.jpg) no-repeat;
    background-size: cover;
}

#item11 {
    grid-area: k;
    background: url(./../assets/road-1072823_1280.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}